/* Import Fonts From Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Open+Sans:300,400');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid gray;  LAYOUT ASSISTANCE BORDER */
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
}

/* Page Container */

.pageContainer {
    width: 100%;
    margin: 0 auto;
}

/* Logo Styling */

.pageHeader {
    width: 100%;
    display: flex;
}

.logo {
    width: 30%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    margin: 4%;
}

/* Navigation Styling */

nav.navigation {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation a {
    width: 14%;
    border: 2px solid #696969;
    text-align: center;
    text-decoration: none;
    background-color: #B5B5B5;
    color: white;
    font-weight: 400;
    border-radius: 7px;
    padding: 1%;
    margin: .25%;
}

@keyframes navAnimation {
    from {background-color: #B5B5B5;}
    to {background-color: #696969;}
  }

.navigation a:hover {
    color: #white;
    background-color: #696969;
    border: 2px solid #B5B5B5;
    border-radius: 7px;
    animation: navAnimation 500ms linear 0s 1 alternate;
    font-variant: small-caps;
}

/* Main Image Styling */

.mainImageContainer {
    height: 80vh;
    width: 100%;
    background-image:url('https://picsum.photos/id/14/800/400?grayscale');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainImageContainer h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 9rem;
    color: whitesmoke;
    line-height: 5rem;
    margin: 4%;
}

.mainImageContainer h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: whitesmoke;
}

.pageHeadline {
    width: 60%;  
}

/* Gallery Styling */

.gallery {
    width: 100%;
}

.galleryRow {
    width: 100%;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
}

.galleryItem {
    width: 25%;
    margin: 4%;
}

.galleryImage {
    display: flex;
    justify-content: center;
    align-content: center;
}

.itemDescription {
    text-align: center;
    margin: 4%;
}

/* Footer Styling */

footer {
    height: 30vh;
    width: 100%;
    background-color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerContainer {
    width: 80%;
}

.footerContainer h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: whitesmoke;
    margin: 4%;
}

.footerContainer a {
    width: 20%;
    border: 2px solid #B5B5B5;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #696969;
    font-weight: 400;
    border-radius: 7px;
    padding: 1%;
    margin: .25%;
}